---

---

<section class="bg-black text-white w-[80%] flex justify-center items-center mx-auto rounded-3xl px-15 py-5">
  <div class="flex grow basis-0 flex-col gap-3">
    <h1 class="uppercase font-[Poppins] font-bold text-4xl">get latest update</h1>
    <p class="uppercase font-[Poppins] font-bold text-sm text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
  </div>
    <form class="flex grow basis-0 flex-col justify-center items-center font-[Poppins] gap-4">
      <input type="text" placeholder="ENTER YOUR EMAIL" class="bg-white rounded-3xl p-3 w-[70%] text-center uppercase font-bold text-[20px] text-gray-600" />
      <button type="submit" class="bg-black w-[20%] text-sm uppercase font-bold tracking-[1px] border-2 border-white p-2 rounded">Enviar</button>
    </form>
</section>
<section class="flex justify-around items-center my-[30px]">
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold text-black">Company</h1>
        <a class="block text-[20px] font-bold text-[#0000006f]" href="#">About</a>
        <a class="block text-[20px] font-bold text-[#0000006f]" href="#">FAQ</a>
        <a class="block text-[20px] font-bold text-[#0000006f]" href="#">Shipping & Return</a>
        <a class="block text-[20px] font-bold text-[#0000006f]" href="#">Career<a/>
    </div>
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold text-black">Company</h1>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">About</a>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">FAQ</a>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">Shipping & Return</a>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">Career</a>
    </div>
    <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold text-black">Company</h1>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">About</a>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">FAQ</a>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">Shipping & Return</a>
        <a class="text-[20px] font-bold text-[#0000006f]" href="#">Career</a>
    </div>
    <div class="flex flex-col items-center gap-2">
        <h1 class="text-2xl font-bold text-black">Social</h1>
        <div class="flex flex-wrap gap-2">
            <img class="w-[50px]" src="/facebook.svg" alt="">
            <img class="w-[50px]" src="/Instagram.svg" alt="">
            <img class="w-[50px]" src="/Twitter.svg" alt="">
        </div>
    </div>
    
</section>
