---

---

<header class="shadow-header w-full h-15 flex items-center justify-between px-20 font-[Amethysta] fixed bg-white">
  <div class="logo text-[40px]  flex grow-1 basis-0">
    <a href="#">Zappé</a>
  </div>
  <div class="navegacion text-[24px] flex gap-5">
    <a href="#">Home</a>
    <a href="#">Hombre</a>
    <a href="#">Mujer</a>
    <a href="#">Oferta</a>
  </div>
  <div class="icons flex grow-1 basis-0 justify-end text-2xl gap-3">
    <a href="#"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#"><ion-icon name="cart-outline"></ion-icon></a>
    <a href="#"><ion-icon name="person-outline"></ion-icon></a>
  </div>
</header>

<style>
    .shadow-header{
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25)
    }
</style>
