---
import CardProductos from "@/components/CardProductos.astro";
---

<section class="font-[Amaranth] m-20 text-center flex flex-col items-center justify-center gap-15">
    <h1 class="uppercase font-bold text-4xl">Productos</h1>
    <div class="grid grid-cols-4 gap-10">
        <CardProductos ImgShoes="AdidasSuperStar.png" NameZapatillas="Adidas SuperStar" />
        <CardProductos ImgShoes="AdidasCelesteBlanco.png" NameZapatillas="Adidas Crazyflight " />
        <CardProductos ImgShoes="AdidasNegrasBlanca.png" NameZapatillas="Adidas GRAND COURT" />
        <CardProductos ImgShoes="AdidasRosadasNegro.png" NameZapatillas="Adidas RunFalcon" />
      
        <CardProductos ImgShoes="AdidasSuperStar.png" NameZapatillas="Adidas SuperStar" />
        <CardProductos ImgShoes="AdidasCelesteBlanco.png" NameZapatillas="Adidas Crazyflight " />
        <CardProductos ImgShoes="AdidasNegrasBlanca.png" NameZapatillas="Adidas GRAND COURT" />
        <CardProductos ImgShoes="AdidasRosadasNegro.png" NameZapatillas="Adidas RunFalcon" />
    </div>
    <a href="#" class=" bg-black px-7 py-3 text-white rounded-2xl tracking-[0.2em]">VIEW MORE</a>
  
</section>
