---
import CardProductos from "@/components/CardProductos.astro";
---

<section class="m-20">
    <h1 class="uppercase text-center m-15 font-bold text-4xl">Productos</h1>
    <div class="grid grid-cols-4 gap-10">
        <CardProductos ImgShoes="AdidasSuperStar.png" NameZapatillas="Adidas SuperStar" />
        <CardProductos ImgShoes="AdidasCelesteBlanco.png" NameZapatillas="Adidas Crazyflight " />
        <CardProductos ImgShoes="AdidasNegrasBlanca.png" NameZapatillas="Adidas GRAND COURT" />
        <CardProductos ImgShoes="AdidasRosadasNegro.png" NameZapatillas="Adidas RunFalcon" />
      
        <CardProductos ImgShoes="AdidasSuperStar.png" NameZapatillas="Adidas SuperStar" />
        <CardProductos ImgShoes="AdidasCelesteBlanco.png" NameZapatillas="Adidas Crazyflight " />
        <CardProductos ImgShoes="AdidasNegrasBlanca.png" NameZapatillas="Adidas GRAND COURT" />
        <CardProductos ImgShoes="AdidasRosadasNegro.png" NameZapatillas="Adidas RunFalcon" />
    </div>
  
</section>
